@import "tailwindcss";

@theme {
  --color-brand-offwhite: #F9F9F9;
  --color-brand-charcoal: #2A2A2A;
  --color-brand-navy: #1A2E44;
  --color-brand-gold: #C5A880;
}

@layer base {
  body {
    @apply bg-brand-offwhite text-brand-charcoal font-sans antialiased;
  }
}
